{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<nav>
    <ul>
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            {% assign current = ' class="current"' %}
        {% else %}
            <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
            {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
                <li class="dropdown {{ class }}" {{ current }}>
                    <a href="{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sublink in link.sublinks %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li>
                                    <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
        {% else %}
        <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
