<!-- Belongs at: /_includes/navigation.html -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet"href="css/bs_leftnavi.css">
<script src="js/bs_leftnavi.js"></script>

<div class="gw-sidebar">
  <div id="gw-sidebar" class="gw-sidebar">
    <div class="nano-content">
      <ul class="gw-nav gw-nav-list">
        <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text"><a href="https://www.jqueryscript.net/tags.php?/Navigation/">Navigation</a> <a href="https://www.jqueryscript.net/menu/">Menu</a></span> </a> </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Category 1</span> <b class="gw-arrow"></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Menu 1</a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Category 2</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Menu 1</a> </li>
            <li> <a href="javascript:void(0)">Menu 2</a> </li>
            <li> <a href="javascript:void(0)">Menu 3</a> </li>
          </ul>
        </li>
        <li class="init-arrow-down"> <a href="javascript:void(0)"> <span class="gw-menu-text">Category 3</span> <b></b> </a>
          <ul class="gw-submenu">
            <li> <a href="javascript:void(0)">Menu 1</a> </li>
            <li> <a href="javascript:void(0)">Menu 2</a> </li>
            <li> <a href="javascript:void(0)">Menu 3</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>










<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
  {% assign sublinks = entry.sublinks %}
  {% if sublinks %}
    {% for sublink in sublinks %}
      {% capture fullurl %}{{ site.baseurl }}{{ sublink.url }}{% endcapture %}
          {% if fullurl == page.url %}
              {% assign current_page = fullurl %}
              {% break %}
          {% elsif page.url contains fullurl %}
              {% assign current_page = fullurl %}
          {% endif %}
    {% endfor %}
  {% else %}
    {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
        {% if fullurl == page.url %}
            {% assign current_page = fullurl %}
            {% break %}
        {% elsif page.url contains fullurl %}
            {% assign current_page = fullurl %}
        {% endif %}
  {% endif %}
{% endfor %}


<!-- Then we build the nav bar. -->
<nav>
    <ul>
    {% for entry in site.data.navigation %}
        
        {% assign sublinks = entry.sublinks %}
        
        {% if sublinks %}
            
            <li>
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ entry.title }}<b class="caret"></b></a>
                <!-- <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a> -->
                <ul>
                    {% for sublink in sublinks %}
                        {% if sublink.url contains "http" %}
                          {% assign target = "_blank" %}{% else %}
                          {% assign target = "_self" %}
                        {% endif %}
                        {% if sublink.url == current_page %}
                            {% assign current = ' class="current"' %}
                            {% else %}
                            {% assign current = null %}
                        {% endif %}
                        <li{{ current }}><a href="{{ site.baseurl }}{{ sublink.url }}" target="{{ target }}">{{ sublink.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            {% if entry.url == current_page %}
                {% assign current = ' class="current"' %}
                {% else %}
                    <!-- We have to declare it 'null' to ensure it doesn't propagate. -->
                    {% assign current = null %}
            {% endif %}
            <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
