<form action="https://formspree.io/griffith.dan@gmail.com"
      method="POST">
      
      
  Your name:<br>    
    <input type="text" name="name">
  <br>    
  <br>    
      
  Contact email:<br>    
    <input type="email" name="_replyto">
  <br>    
  <br>   
      
  Full author list:<br>    
    <input type="text" name="authors">
  <br>    
  <br>  
      
  Data description:<br>    
    <input type="text" name="description">
  <br>    
  <br>  
      
  Suggested citation:<br>    
    <input type="text" name="citation">
  <br>    
  <br>  
      
  Data usage agreement:<br>
  By submitting this form, you acknowledge that your data will be publicly available. Users of you data will be encouraged to properly cite your data based on the citation you submit above. After inspecting data submissions, we will post data on our project website and may include datasets within distributions of the R package called "plantspec." Thank you for contributing to the community!
  <br>    
        <input type="radio" name="agree" value="I agree to these terms"> I agree to these terms<br>
  <br>    
  <br>    
  
  Upload component data table:<br>        
      <input
        type="hidden"
        role="uploadcare-uploader"
        name="datatable"
        data-public-key="e2c5a1472c5516649255" />
  <br>    
  <br>    
  
  Upload zip file with spectral files:<br>        
      <input
        type="hidden"
        role="uploadcare-uploader"
        name="dataspectra"
        data-public-key="e2c5a1472c5516649255" />
  <br>    
  <br>    
  
  <input type="submit" value="Submit data">
     
</form>



