<form action="https://formspree.io/griffith.dan@gmail.com"
      method="POST">
      
      
  Your name:<br>    
    <input type="text" name="name">
  <br>    
  <br>    
      
  Contact email:<br>    
    <input type="email" name="_replyto">
  <br>    
  <br>   
      
  Full author list:<br>    
       <TEXTAREA name="authors" style="width:100%;height:20px;">
       </TEXTAREA>
  <br>    
  <br>  
      
  Data description:<br>    
       <TEXTAREA name="description" style="width:100%;height:100px;">
       </TEXTAREA>
  <br>    
  <br>  
      
  Suggested citation:<br>    
    <input type="text" name="citation">
  <br>    
  <br>  
      
  <div style="background-color:#cccccc; text-align:left; vertical-align: middle; padding:15px 15px;">    
        <bold>Data usage agreement:</bold><br><br>
        <p>By submitting this form, you acknowledge that your data will be publicly available. Users of you data will be encouraged to properly cite your data based on the citation you submit above. After inspecting data submissions, we will post data on our project website and may include datasets within distributions of the R package called "plantspec." Thank you for contributing to the community!
        </p> 
              <input type="radio" name="agree" value="I agree to these terms" required> I agree to these terms<br>
  </div> 
      
  <br>    
  
  Upload component data table:<br>        
      <input
        type="hidden"
        role="uploadcare-uploader"
        name="datatable"
        data-public-key="e2c5a1472c5516649255" />
  <br>    
  <br>    
  
  Upload zip file with spectral files:<br>        
      <input
        type="hidden"
        role="uploadcare-uploader"
        name="dataspectra"
        data-public-key="e2c5a1472c5516649255" />
  <br>    
  <br>    
  
  <input type="submit" value="Submit data">
     
  <br>    
  <br>  
      <hr>
      
</form>



