<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Load JQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Load jquery.cookie plugin (optional) -->
    <script type="text/javascript" src="/navgoco/src/jquery.cookie.js"></script>
    <!-- Load jquery.navgoco plugin js and css files -->
    <script type="text/javascript" src="/navgoco/src/jquery.navgoco.js"></script>
    <link rel="stylesheet" href="/navgoco/src/jquery.navgoco.css" type="text/css" media="screen" />
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}<br /><br /></p>

       {% include navigation.html %} 
       
        <p> <br /><br />Monthly Visits</p>

      <p>
        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=c0c0c0&w=200&t=n&d=O5xMSyWSlwkCglBnuzJeFVn2eqgqzbsUCFt6Ye-8NN0&co=ffffff&cmo=008080&cmn=e0711a'></script>
        </p>
        
          <p> 
            <br />
            <br />
            <br />
            <br />
            Test4</p>
      
        
      </header>
      <section>

      {{ content }}
               
      </section>

    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
